.p-megamenu {
  background-color: #5e4140 !important;
  font-size: 20px;
}

.p-megamenu-item-content {
  color: #ef8b87 !important;
}

.p-megamenu-root-list {
  width: 100%;
  text-align: center;
  display: grid !important;
  justify-content: space-between !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}
