@import 'primeicons/primeicons.css';
@import './base.css';
@import './ComponentsCss/SideBar.css';

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 1rem 1rem;
  }
}
